{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_styles/categorytable

    Displays the categories in a table

    Classes required for JS:
    *

    Data attributes required for JS:
    *

    Context variables required for this template:
    * categories - Array of category objects
    * createcaturl - URL for creating a new category
    * createcategory - Label for create category button
    * exporturl - URL for exporting data
    * exportlabel - Label for export button
    * importurl - URL for importing data
    * importlabel - Label for import button

    Example context (json):
    { }

}}
<div class="mb-3" data-region="importjson" data-init="tiny_styles/importdata">
    <a href="{{createcaturl}}" class="btn btn-primary me-2">
        {{createcategory}}
    </a>
    <a href="{{importurl}}" class="btn btn-secondary me-2">
        {{#str}} importdata, tiny_styles {{/str}}
    </a>
    <a href="{{exporturl}}" class="btn btn-secondary me-2">
        {{exportlabel}}
    </a>
</div>

<table class="table generaltable">
  <thead>
    <tr>
      <th>{{#str}} name, tiny_styles {{/str}}</th>
      <th>{{#str}} description, tiny_styles {{/str}}</th>
      <th>{{#str}} menumode, tiny_styles {{/str}}</th>
      <th>{{#str}} actions, tiny_styles {{/str}}</th>
    </tr>
  </thead>
  <tbody>
  {{#categories}}
    <tr>
      <td class="text-truncate" style="max-width: 200px;" data-toggle="tooltip" title="{{name}}">{{name}}</td>
      <td class="text-truncate" style="max-width: 350px;" data-toggle="tooltip" title="{{description}}">{{description}}</td>
      <td>{{menumode}}</td>
      <td>
        <div class="d-flex gap-2 align-items-center">
          <a href="#" class="toggle-enable text-primary text-decoration-none"
             data-id="{{id}}"
             title="{{#enabled}}{{#str}}show, core{{/str}}{{/enabled}}{{^enabled}}{{#str}}hide, core{{/str}}{{/enabled}}"
             >
              <i class="icon fa enabled-icon {{#enabled}}fa-eye{{/enabled}}{{^enabled}}fa-eye-slash{{/enabled}} fa-fw"></i>
          </a>

          <a href="{{elementsurl}}" title="{{#str}} elements, tiny_styles {{/str}}" style="text-decoration: none; {{elementsiconstyle}}">
            <i class="fa-solid fa-list"></i>
          </a>

          {{{moveupiconhtml}}}
          {{{movedowniconhtml}}}

          <a href="{{editurl}}" title="{{#str}} editcategory, tiny_styles {{/str}}" style="text-decoration: none;">
            <i class="icon fa fa-cog fa-fw"></i>
          </a>
          {{{deleteiconhtml}}}
        </div>
      </td>
    </tr>
  {{/categories}}
  {{^categories}}
    <tr>
      <td colspan="4">{{#str}} nocategories, tiny_styles {{/str}}</td>
    </tr>
  {{/categories}}
  </tbody>
</table>