<table class="table generaltable">
  <thead>
    <tr>
      <th>{{#str}} name, tiny_styles {{/str}}</th>
      <th>{{#str}} description, tiny_styles {{/str}}</th>
      <th>{{#str}} presentation, tiny_styles {{/str}}</th>
      <th>{{#str}} actions, tiny_styles {{/str}}</th>
    </tr>
  </thead>
  <p>
  <div data-region="importjson" data-init="tiny_styles/importdata">
      <a href="{{createcaturl}}" class="btn btn-primary me-2">
          {{createcategory}}
      </a>
      <a href="{{exporturl}}" class="btn btn-secondary me-2">
          {{exportlabel}}
      </a>
      <button type="button" id="uploadjson" class="btn btn-secondary me-2" data-sesskey="{{sesskey}}">
          {{#str}} importdata, tiny_styles {{/str}}
      </button>
      <form id="importform" style="margin-bottom: 20px;">
          <input type="hidden" name="sesskey" value="{{sesskey}}">
          <label for="importfile" class="me-2">
            {{#str}} selectjsonfile, tiny_styles {{/str}}
          <span
            tabindex="0"
            class="help-icon"
            role="button"
            aria-label="{{#str}} jsonfilehelp, tiny_styles {{/str}}"
            data-toggle="tooltip"
            data-placement="right"
            title="{{#str}} jsonfilehelp, tiny_styles {{/str}}">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
          </label>
          <input type="file" name="importfile" id="importfile" accept=".json" required/>
      </form>
  </div>
  </p>
  <tbody>
  {{#categories}}
    <tr>
      <td>{{name}}</td>
      <td>{{description}}</td>
      <td>{{presentation}}</td>
      <td>
        {{{toggleiconhtml}}}
        <a href="{{elementsurl}}" class="mr-2" title="{{#str}} elements, tiny_styles {{/str}}" style="text-decoration: none;">
          <i class="fa-solid fa-list"></i>
        </a>

        {{{moveupiconhtml}}}
        {{{movedowniconhtml}}}

        <a href="{{editurl}}" class="mr-2" title="{{#str}} editcategory, tiny_styles {{/str}}" style="text-decoration: none;">
          <i class="icon fa fa-cog fa-fw"></i>
        </a>
        {{{deleteiconhtml}}}
      </td>
    </tr>
  {{/categories}}
  {{^categories}}
    <tr>
      <td colspan="4">{{#str}} nocategories, tiny_styles {{/str}}</td>
    </tr>
  {{/categories}}
  </tbody>
</table>
