<table class="table generaltable">
  <thead>
    <tr>
      <th>{{#str}} name, tiny_styles {{/str}}</th>
      <th>{{#str}} description, tiny_styles {{/str}}</th>
      <th>{{#str}} menumode, tiny_styles {{/str}}</th>
      <th>{{#str}} actions, tiny_styles {{/str}}</th>
    </tr>
  </thead>
  <p>
  <div data-region="importjson" data-init="tiny_styles/importdata">
      <a href="{{createcaturl}}" class="btn btn-primary me-2">
          {{createcategory}}
      </a>
      <a href="{{importurl}}" class="btn btn-secondary me-2">
          {{#str}} importdata, tiny_styles {{/str}}
      </a>
      <a href="{{exporturl}}" class="btn btn-secondary me-2">
          {{exportlabel}}
      </a>
  </div>
  </p>
  <tbody>
  {{#categories}}
    <tr>
      <td class="text-truncate" style="max-width: 200px;" data-toggle="tooltip" title="{{name}}">{{name}}</td>
      <td class="text-truncate" style="max-width: 350px;" data-toggle="tooltip" title="{{description}}">{{description}}</td>
      <td>{{menumode}}</td>
      <td>
        <a href="#" class="toggle-enable"
           data-id="{{id}}"
           title="{{#enabled}}{{#str}}show, core{{/str}}{{/enabled}}{{^enabled}}{{#str}}hide, core{{/str}}{{/enabled}}"
           style="text-decoration: none; color: #0f6cbf;">
            <i class="icon fa enabled-icon {{#enabled}}fa-eye{{/enabled}}{{^enabled}}fa-eye-slash{{/enabled}} fa-fw"></i>
        </a>

        <a href="{{elementsurl}}" class="me-2" title="{{#str}} elements, tiny_styles {{/str}}" style="text-decoration: none; {{elementsiconstyle}}">
          <i class="fa-solid fa-list"></i>
        </a>

        {{{moveupiconhtml}}}
        {{{movedowniconhtml}}}

        <a href="{{editurl}}" class="me-2" title="{{#str}} editcategory, tiny_styles {{/str}}" style="text-decoration: none;">
          <i class="icon fa fa-cog fa-fw"></i>
        </a>
        {{{deleteiconhtml}}}
      </td>
    </tr>
  {{/categories}}
  {{^categories}}
    <tr>
      <td colspan="4">{{#str}} nocategories, tiny_styles {{/str}}</td>
    </tr>
  {{/categories}}
  </tbody>
</table>
