<div class="tiny-elements" id="elements-container" data-catid="{{catid}}">
    <h3>{{heading}}</h3>

    <form method="post" action="{{submiturl}}">
        <div class="actions mb-3">
            <div class="mb-2">
                <!-- "Back to Overview" -> acts as the Save button -->
                <button type="submit" class="btn btn-secondary">
                    {{navigateback}}
                </button>
            </div>
            <div>
                <a href="{{createelementurl}}" class="btn btn-primary">
                    {{createbuttonlabel}}
                </a>
            </div>
        </div>

        <table class="table generaltable">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="select-all">
                    </th>
                    <th>{{#str}} name, tiny_styles {{/str}}</th>
                    <th>{{#str}} type, tiny_styles {{/str}}</th>
                    <th>{{#str}} bootstrapclass, tiny_styles {{/str}}</th>
                    <th>{{#str}} actions, tiny_styles {{/str}}</th>
                </tr>
            </thead>
            <tbody id="sortable-list">
                {{#elements}}
                <tr data-elementid="{{id}}" data-sortorder="{{sortorder}}">
                    <td><input type="checkbox" name="selected_elements[]" value="{{id}}"></td>
                    <td>{{name}}</td>
                    <td>{{type}}</td>
                    <td>{{bootstrapclass}}</td>
                    <td>

                       <a href="#" class="toggle-enable-element"
                          data-id="{{id}}"
                          title="{{#enabled}}{{#str}}hide, core{{/str}}{{/enabled}}{{^enabled}}{{#str}}show, core{{/str}}{{/enabled}}"
                          style="text-decoration: none; color: #0f6cbf;">
                           <i class="icon fa enabled-icon {{#enabled}}fa-eye{{/enabled}}{{^enabled}}fa-eye-slash{{/enabled}} fa-fw"></i>
                       </a>

                        {{{moveupiconhtml}}}
                        {{{movedowniconhtml}}}

                        <a href="{{editurl}}" title="Edit" style="text-decoration: none;">
                            <i class="icon fa fa-cog fa-fw"></i>
                        </a>
                        <a href="#" class="duplicate-element" data-id="{{id}}" title="Duplicate" style="text-decoration: none;">
                            <i class="icon fa fa-clone fa-fw"></i>
                        </a>
                        {{{deleteiconhtml}}}
                    </td>
                </tr>
                {{/elements}}
            </tbody>
        </table>
    </form>
    <!-- Bulk Actions Dropdown -->
    <div class="bulk-actions mt-3 ml-3">
        <label for="bulk-actions-dropdown">{{bulkactionslabel}}</label>
        <select id="bulk-actions-dropdown" class="custom-select form-select form-select-sm rounded">
            <option value="">{{selectdefault}}</option>
            <option value="show">{{showaction}}</option>
            <option value="hide">{{hideaction}}</option>
            <option value="duplicate">{{duplicateaction}}</option>
            <option value="delete">{{deleteaction}}</option>
        </select>
        <div id="bulk-action-warning" class="mt-2 text-danger" style="display: none;">
                {{#str}} bulkactionmustselect, tiny_styles {{/str}}
        </div>
    </div>
</div>
