{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_styles/elements_table

    Displays the style elements of a category in a table

    Classes required for JS:
    * 

    Data attributes required for JS:
    *

    Context variables required for this template:
    * heading - Heading text for the page
    * has_bulk_message - Whether there is a bulk message to display
    * bulk_message - The bulk message to display
    * submiturl - URL for form submission
    * navigateback - Label for back button
    * createbuttonlabel - Label for create button
    * createelementurl - URL for creating a new element
    * elements - Array of element objects
    * bulkactionslabel - Label for bulk actions
    * selectdefault - Default option text for bulk actions
    * showaction - Show action text
    * hideaction - Hide action text
    * duplicateaction - Duplicate action text
    * deleteaction - Delete action text
    * catid - Category ID 
}}
<div class="tiny-elements" id="elements-container" data-catid="{{catid}}">
    {{#heading}}<h3>{{heading}}</h3>{{/heading}}
    {{#has_bulk_message}}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{bulk_message}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/has_bulk_message}}
    <form method="post" action="{{#submiturl}}{{submiturl}}{{/submiturl}}{{^submiturl}}.{{/submiturl}}"
        <div class="actions mb-3">
            <div class="mb-2">
                <button type="submit" class="btn btn-secondary me-2">
                    {{navigateback}}
                </button>
                <a href="{{createelementurl}}" class="btn btn-primary">
                    {{createbuttonlabel}}
                </a>
            </div>
        </div>

        <table class="table generaltable">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="select-all">
                    </th>
                    <th>{{#str}} name, tiny_styles {{/str}}</th>
                    <th>{{#str}} type, tiny_styles {{/str}}</th>
                    <th>{{#str}} bootstrapclass, tiny_styles {{/str}}</th>
                    <th>{{#str}} actions, tiny_styles {{/str}}</th>
                </tr>
            </thead>
            <tbody id="sortable-list">
                {{#elements}}
                <tr data-elementid="{{id}}" data-sortorder="{{sortorder}}">
                    <td><input type="checkbox" name="selected_elements[]" value="{{id}}"></td>
                    <td class="text-truncate" style="max-width: 200px;" data-toggle="tooltip" title="{{name}}">{{name}}</td>
                    <td>{{type}}</td>
                    <td>{{bootstrapclass}}</td>
                    <td>
                   
                       <a href="#" class="toggle-enable-element"
                          data-id="{{id}}"
                          title="{{#enabled}}{{#str}}hide, core{{/str}}{{/enabled}}{{^enabled}}{{#str}}show, core{{/str}}{{/enabled}}"
                          style="text-decoration: none; color: #0f6cbf;">
                           <i class="icon fa enabled-icon {{#enabled}}fa-eye{{/enabled}}{{^enabled}}fa-eye-slash{{/enabled}} fa-fw"></i>
                       </a>

                       {{{viewdetailsiconhtml}}}
                       {{{moveupiconhtml}}}
                       {{{movedowniconhtml}}}

                        <a href="{{editurl}}" title="Edit" class="text-decoration-none text-primary">
                            <i class="icon fa fa-cog fa-fw"></i>
                        </a>
                        <a href="#" class="duplicate-element" data-id="{{id}}" title="Duplicate" style="text-decoration: none;">
                            <i class="icon fa fa-clone fa-fw"></i>
                        </a>
                        {{{deleteiconhtml}}}
                    </td>
                </tr>
                {{/elements}}
            </tbody>
        </table>
    </form>
    <!-- Bulk Actions Dropdown -->
    <div class="bulk-actions mt-3 ms-3">
        <label for="bulk-actions-dropdown">{{bulkactionslabel}}</label>
        <select id="bulk-actions-dropdown" class="form-select form-select w-auto d-inline-block align-middle rounded">
            <option value="">{{selectdefault}}</option>
            <option value="show">{{showaction}}</option>
            <option value="hide">{{hideaction}}</option>
            <option value="duplicate">{{duplicateaction}}</option>
            <option value="delete">{{deleteaction}}</option>
        </select>
        <div id="bulk-action-warning" class="mt-2 text-danger" style="display: none;">
                {{#str}} bulkactionmustselect, tiny_styles {{/str}}
        </div>
    </div>
</div>